@import url('https://fonts.googleapis.com/css?family=Dosis:400,800');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
*,
*:before,
*:after{
margin:0;
padding:0;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}

body{
    background-image: url("../img/frost.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.story{
    font-family: "Dosis", sans-serif;
    margin: 0 auto;
    
}
b{
    color: rgb(226, 226, 226);
}
h1{
    border-radius: 10px;
    font-size: 2em;
    font-family: "Fjalla One", sans-serif;
    background-color:rgba(0,0,0,.6);
    color:aqua;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    max-height: 10%;
    max-width: 30%
    
}
p{
    margin-top: 2%;
    background-color: rgba(0,0,0,.6);
    padding: 2%;
    border-radius: 10px;
}


.heart{
    margin: 5%;
    border-radius:50px;
    color: rgba(113, 250, 255, 100);
    background-color: rgba(46, 46, 46, 0.35);
    padding: 5%;
}
.badlist{
    color: rgb(0,0,0);
    margin-top: 2%;
    margin-bottom: 2%;
    list-style: none;
    text-align: center;
    background-color: rgba(255,255,255,.8);
}
.badlist b{
    color:black;
}
#final{
    font-size: 1.5em;
    margin: 0 auto;
    margin-top: 2%;
    max-width:40%;
    text-align: center;
}